{% extends "products/layout.html" %}
{% block head %}
<title>Customer</title>
{% load static %}
<link rel="stylesheet" href="{% static 'customers/customers.css' %}">
{% endblock head %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Customers SignIn</h1>
<div>
  {% if user.is_authenticated %}
  <h1 id="logged">{{log}}</h1>
  {% else %}
  {{no_user}}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{forms|crispy}}
    <p>Don't you have account?<a href="{% url 'register' %}">Create</a></p>
    <button type="submit">Login</button>
  </form>

  {% endif %}
</div>
{% endblock body %}