<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}

        {% endblock head %}
        <style>
            #heading {
                text-align: center;
                color: tomato;
                background-color: blue;
                font-size: 40px;
            }
        </style>
    </head>

    <body>
        <h2 id="heading">Minimarket</h2>
        {% block body %}

        {% endblock body %}
        <a href="{% url 'products' %}">Home</a>
        <a href="{% url 'customers' %}">Login</a>
    </body>

</html>