{% extends "products/layout.html" %}
{% block head %}
<title>Products</title>
{% load static %}
<link rel="stylesheet" href="{% static 'products/products.css' %}">
<script src="{% static 'products/products.js' %}"></script>
{% endblock head %}
{% block body %}
<div id="products">
    {{message}}
    {% for product in products %}
    <div>
        <img data-ids="{{product.product_name}}" src="{{product.product_image.url}}"
            alt="{{product.product_name}}'s image">
        <p> {{product.product_name}} </p>
        <p>Price: ${{product.product_rate}} </p>
        {% if product.stock_available > 0 %}

        <p id="stock-{{product.product_name}}">In Stock: {{product.stock_available}}</p>
        <form method="post" action="{% url 'rate_change' product.id %}">
            {% csrf_token %}
            <Button name="stock-value" type="submit" data-value="stock-{{product.product_name}}" id="buy"
                value="{{product.stock_available}}">Buy</Button>
        </form>
        {% else %}
        <p>Out of stock</p>
        {% endif %}
        <h4 id="{{product.product_name}}">{{product.product_description}}</h4>
    </div>
    {% endfor %}
</div>
{% endblock body %}